<div ng-controller="loginController as lg">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
              <form action="">
                <div class="form-group">
                  <label>E-mail</label>
                  <input type="email" class="form-control" placeholder="E-mail" ng-model="lg.email">
                </div>
                <div class="form-group">
                  <label>Senha</label>
                  <input type="password" class="form-control" placeholder="Senha" ng-model="lg.password">
                </div>
              </form>
              <button class="btn btn-lg btn-block btn-danger" ng-click="lg.signIngWithEmailAndPassWord(lg.email, lg.password)">Autenticar</button>
              <button class="btn btn-lg btn-block btn-info" ng-click="lg.createAccount(lg.email, lg.password)">Criar Nova Conta</button>
              <br>
              <p class="text-center"><small>-- ou --</small></p>
              <p class="text-center">
                <button class="btn btn-lg btn-default" ng-click="lg.signInWithProvider('github')"><i class="fa fa-github"></i></button>
                <button class="btn btn-lg btn-primary" ng-click="lg.signInWithProvider('facebook')"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-lg btn-danger"  ng-click="lg.signInWithProvider('google')"><i class="fa fa-google"></i></button>
                <button class="btn btn-lg btn-warning" ng-click="lg.signInAnonymously()"><i class="fa fa-user"></i></button>
              </p>
              <button class="btn btn-lg btn-block btn-outline-info" ng-click="lg.signOut()">Sair</button>
    
            </div>           
          </div>
        </div>
      </div>
</div>